.nav-btn {
  color: rgb(0, 0, 0);
  padding: 0 22px;
  font-weight: 100;
  /* width: 25%; */
  font-size: 16px;
  letter-spacing: 2px;
}
.social-media-btn .right-border,
.social-media-btn .left-border,
.history-btn .left-border,
.roadmap-btn .left-border,
.roadmap-btn .right-border,
.faq-btn .left-border,
.faq-btn .right-border,
.history-btn .right-border {
  width: 1px;
  position: absolute;
  top: 0;
  margin-left: -120px;
  background-color: black;
  height: 0;
  transition: all 0.6s;
}
.social-media-btn .right-border,
.history-btn .right-border,
.roadmap-btn .right-border,
.faq-btn .right-border {
  margin-left: 20px;
  transition-delay: 0.1s;
}
.roadmap-btn .left-border {
  margin-left: -123px;
}
.social-media-btn .left-border {
  margin-left: -133px;
}
.faq-btn .left-border {
  margin-left: -58.5px;
}
.social-media-btn:hover .right-border,
.roadmap-btn:hover .right-border,
.history-btn:hover .right-border,
.faq-btn:hover .right-border {
  height: 13vh;
}
.social-media-btn:hover .left-border,
.history-btn:hover .left-border,
.faq-btn:hover .left-border,
.roadmap-btn:hover .left-border {
  height: 15vh;
}
.mint-your-bull-btn {
  color: white;
  /* background: #988301; */
  background-image: linear-gradient(
    to top left,
    #988301 50%,
    rgb(165, 144, 26) 50%
  );
  padding: 12px 19px;
}
@media screen and (max-width: 1024px) {
  .nav-btn {
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
    margin: 0;
    font-size: 2vmax;
    padding: 2.95vmax;
  }
  .nav-btn:last-child {
    border: 0;
  }
  .mint-your-bull-btn {
    right: 20px;
    position: relative;
    padding: 2vmin 1.5vmin;
    width: fit-content;
    font-size: 2.4vmin;
  }
}
