@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.App {
  text-align: center;
}

.banner {
  background-image: url("/src/assets/images/opensea.jpg");
  background-size: 100% 110%;
  height: 80%;
  margin-top: 2vh;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .banner {
    background-image: url("/src/assets/images/opensea2.jpg");
    background-size: 100% 105%;
    height: 70%;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    background-image: url("/src/assets/images/opensea3.jpg");
    height: 35%;
    background-size: 100% 75%;
  }
}
