.slider-component {
  width: 100%;
  overflow: hidden !important;
  height: fit-content;
}
.slider-component img {
  width: 50vmax !important;
  height: 90vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slider-component p {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 80%;
  right: 40%;
  font-weight: 100;
  font-size: 1.5vmax;
  z-index: 100;
  text-transform: uppercase;
  /* margin: 0 auto; */
}
.arrow {
  border-radius: 100px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  position: absolute;
  cursor: pointer;
  font-size: 35px;
  z-index: 10;
}
.left-direction {
  margin-top: 20% !important;
  margin-left: 10% !important;
  margin-right: 50px;
}
.right-direction {
  margin-top: 20% !important;
  margin-left: 15% !important;
}
.next {
  right: 45.5%;
  top: 90%;
}
.prev {
  left: 45%;
  top: 90%;
}
@media screen and (max-width: 1024px) {
  .next {
    right: 40.5%;
    top: 85%;
  }
  .prev {
    left: 40%;
    top: 85%;
  }
}

@media screen and (max-width: 540px) {
  .next {
    right: 35.5%;
    top: 85%;
  }
  .prev {
    left: 35.5%;
    top: 85%;
  }
}

@media screen and (max-width: 500px) {
  .slider-component p {
    right: 35%;
  }
}
