.slider-component {
  width: 100%;
  overflow: hidden !important;
  height: 90vh;
}
.slider-component img {
  width: 25vmax !important;
  height: 50vh;
  position: relative;
  margin-top: 25vh;
}

.arrow {
  border-radius: 100px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  position: absolute;
  cursor: pointer;
  font-size: 35px;
  z-index: 10;
}
.left-direction {
  margin-top: 20% !important;
  margin-left: 10% !important;
  margin-right: 50px;
}
.right-direction {
  margin-top: 20% !important;
  margin-left: 15% !important;
}
.next {
  right: 35%;
  top: 70%;
}
.prev {
  left: 35%;
  top: 70%;
}
@media screen and (max-width: 1024px) {
  .slider-component img {
    width: 20vmax;
    height: 35vh;
    position: relative;
    margin-top: 25vh;
  }
  .slider-component {
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .slider-component img {
    width: 13vmax !important;
    height: 13vh;
    position: relative;
    margin-top: 10vh;
  }
  .slider-component {
    height: 40vh;
  }
}
